
.registrationForm input, .registrationForm button 
    display: block
    margin: 20px auto
    text-align: left
    border-radius: 3px
    direction: ltr


.auth 
    display: flex
    flex-direction: column
    align-items: center
    // height: 99vh;
    overflow: auto;
    .profileAvatar
        position relative
        width: 90px;
        margin: 0 auto 1rem;
        img
            width: 90px
            height: 90px
            overflow: hidden
            border-radius: 90px
            border: 5px solid gainsboro;
        .image_input
            position absolute
            right: 15%;
            bottom: 0px;
            cursor pointer
            .file-upload
                display none
    //     .image
    p
        direction: rtl
        text-align: right 
        line-height: 150%;
        a
            color:  #4374ed 
    
    button
        display: block
        margin: 20px auto
        border-radius: 3px
    
    button
        cursor pointer
    
    a 
        text-align: right
    
    button
        margin-bottom: 1rem 
    label 
        font-size: 95%
    input
        display: block
        border-radius: 0
        background: transparent
        border: none
        border-bottom: 2px solid #cacaca
        line-height: 1.5
        padding: 5px 10px 0px
        width: 190px
        box-sizing: border-box;
    input[type="password"] , input[type="tel"]
        &::placeholder
            text-align: left

    .textField
        direction: rtl
        width: 190px
        margin: 0 auto
        margin-bottom: 20px;

    h1 
        margin: 2.5rem
    
@media only screen and (max-width: 950px) 
    .auth
        height: unset
        p
            text-align: center;
            max-width: 300px;
        h1
            text-align: center
            font-size: 1.5rem
            margin: 1.5rem
            margin-top: 4rem