.vc-chrome 
	background: #fff
	border-radius: 2px
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3)
	box-sizing: initial
	width: 225px
	font-family: Menlo
	background-color: #fff

.vc-chrome-controls 
	display: flex

.vc-chrome-color-wrap 
	position: relative
	width: 36px

.vc-chrome-active-color 
	position: relative
	width: 30px
	height: 30px
	border-radius: 15px
	overflow: hidden
	z-index: 1

.vc-chrome-color-wrap .vc-checkerboard 
	width: 30px
	height: 30px
	border-radius: 15px
	background-size: auto

.vc-chrome-sliders 
	flex: 1

.vc-chrome-hue-wrap 
	position: relative
	height: 10px
	margin-bottom: 8px

.vc-chrome-alpha-wrap 
	position: relative
	height: 10px

.vc-chrome-hue-wrap .vc-hue 
	border-radius: 2px

.vc-chrome-hue-wrap .vc-hue-picker,
.vc-chrome-alpha-wrap .vc-alpha-picker 
	width: 12px
	height: 12px
	border-radius: 6px
	transform: translate(-6px, -2px)
	background-color: rgb(248, 248, 248)
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)

.vc-chrome-body 
	padding: 16px 16px 12px
	background-color: #fff

.vc-chrome-saturation-wrap 
	width: 100%
	padding-bottom: 55%
	position: relative
	border-radius: 2px 2px 0 0
	overflow: hidden

.vc-chrome-saturation-wrap .vc-saturation-circle 
	width: 12px
	height: 12px

.vc-chrome__disable-alpha .vc-chrome-active-color 
	width: 18px
	height: 18px

.vc-chrome__disable-alpha .vc-chrome-color-wrap 
	width: 30px

.vc-chrome__disable-alpha .vc-chrome-hue-wrap 
	margin-top: 4px
	margin-bottom: 4px

.color-picker 
	position: relative

.vc-chrome 
	position: fixed;
	top: 30%;
	right: 36%;
	z-index: 9

.current-color 
	display: inline-block
	width: 16px
	height: 16px
	background-color: #000
	cursor: pointer
