$width = 350px
$scroll-width = 8px

.date_time_picker_wrapper
	position relative

li 
	text-align center
	list-style none
	display inline-block
	cursor pointer
	user-select none

.date_time_picker 
	border-radius 7px
	width $width
	z-index -1
	background-color #7777cc
	height 0px
	clip-path circle(0% at 100% 3%)
	transition all 0.5s ease-in-out, z-index 0.05s ease
	header 
		margin-bottom 0px !important

.show 
	height 320px
	z-index 20
	display block
	clip-path circle(90%)

.page_wrapper 
	height 240px
	position relative
	ul 
		overflow-y auto
		padding 10px 0px
		background white
		border-radius 15px
		margin 10px 0px
		position absolute
		top 20px
		opacity 0
		z-index -1
		transition opacity .5s, top .5s, z-index .005s

		&::-webkit-scrollbar 
			width $scroll-width

		&::-webkit-scrollbar-thumb 
			background #123456
			outline 1px solid #654321
			border-radius 5px

.show_this_page
	opacity 1 !important
	z-index 1 !important
	top 0 !important


.pages 
	padding 0

.pages li 
	width ($width / 3)
	font-weight bold
	color white

.type 
	cursor pointer

.years li, .centurys li 
	width (($width - $scroll-width) / 5)

.months li 
	width (($width - $scroll-width) / 3)
	height 40px
	line-height 40px

.days li 
	width (($width - $scroll-width) / 7)
	height 32px
	line-height 32px
	transition 0.2s
	border-radius 999px

	&::hover 
		font-weight bold

.selected 
	background-color red
	font-weight bold
	color white


