@font-face {
    font-family: "icomoon";
    src: url("/statics/fonts/eot/icomoon.eot?w94m60");
    src: url("/statics/fonts/eot/icomoon.eot?w94m60#iefix") format("embedded-opentype"),
        url("/statics/fonts/ttf/icomoon.ttf?w94m60") format("truetype"), 
        url("/statics/fonts/woff/icomoon.woff?w94m60") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.mdi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 22px;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-arrow-up:before {
  content: "\eb4b";
}
.mdi-chevron-up:before {
  content: "\eb4c";
}
.mdi-cog:before {
  content: "\eb4d";
}
.mdi-comment-outline:before {
  content: "\eb4e";
}
.mdi-content-copy:before {
  content: "\eb4f";
}
.mdi-eye-off-outline:before {
  content: "\eb50";
}
.mdi-eye-outline:before {
  content: "\eb51";
}
.mdi-fire1:before {
  content: "\eb52";
}
.mdi-grain:before {
  content: "\eb53";
}
.mdi-image-area:before {
  content: "\eb54";
}
.mdi-login-variant:before {
  content: "\eb55";
}
.mdi-logout-variant:before {
  content: "\eb56";
}
.mdi-music-accidental-sharp:before {
  content: "\eb57";
}
.mdi-slash-forward:before {
  content: "\eb58";
}
.mdi-tag-multiple:before {
  content: "\eb59";
}
.mdi-vector-polygon:before {
  content: "\eb5a";
}
.mdi-vector-polyline:before {
  content: "\eb5b";
}
.mdi-undo-variant:before {
  content: "\eb5c";
}
.mdi-check-circle-outline1:before {
  content: "\eb5d";
}
.mdi-home1:before {
  content: "\eb5e";
}
.mdi-checkbox-marked-circle-outline:before {
  content: "\eb5f";
}
.mdi-image-multiple-outline:before {
  content: "\eb3d";
}
.mdi-video-outline:before {
  content: "\eb3e";
}
.mdi-xml:before {
  content: "\eb3f";
}
.mdi-delete-outline:before {
  content: "\eb40";
}
.mdi-square-edit-outline:before {
  content: "\eb41";
}
.mdi-arrow-left:before {
  content: "\eb42";
}
.mdi-magnify:before {
  content: "\eb43";
}
.mdi-plus:before {
  content: "\eb44";
}
.mdi-plus-thick:before {
  content: "\eb45";
}
.mdi-eye:before {
  content: "\eb46";
}
.mdi-pencil:before {
  content: "\eb47";
}
.mdi-close:before {
  content: "\eb48";
}
.mdi-layers-triple:before {
  content: "\eb49";
}
.mdi-account:before {
  content: "\e900";
}
.mdi-adjust:before {
  content: "\e901";
}
.mdi-airplane:before {
  content: "\e902";
}
.mdi-alarm-light:before {
  content: "\e903";
}
.mdi-alarm-light-outline:before {
  content: "\e904";
}
.mdi-album:before {
  content: "\e905";
}
.mdi-alert:before {
  content: "\e906";
}
.mdi-alert-box:before {
  content: "\e907";
}
.mdi-alert-box-outline:before {
  content: "\e908";
}
.mdi-alert-circle:before {
  content: "\e909";
}
.mdi-alert-circle-outline:before {
  content: "\e90a";
}
.mdi-alert-octagon:before {
  content: "\e90b";
}
.mdi-alert-octagon-outline:before {
  content: "\e90c";
}
.mdi-alert-octagram:before {
  content: "\e90d";
}
.mdi-alert-outline:before {
  content: "\e90e";
}
.mdi-alert-rhombus:before {
  content: "\e90f";
}
.mdi-alert-rhombus-outline:before {
  content: "\e910";
}
.mdi-alpha-a:before {
  content: "\e911";
}
.mdi-alpha-a-box:before {
  content: "\e912";
}
.mdi-alpha-a-box-outline:before {
  content: "\e913";
}
.mdi-alpha-a-circle:before {
  content: "\e914";
}
.mdi-alpha-a-circle-outline:before {
  content: "\e915";
}
.mdi-alpha-b:before {
  content: "\e916";
}
.mdi-alpha-b-box:before {
  content: "\e917";
}
.mdi-alpha-b-box-outline:before {
  content: "\e918";
}
.mdi-alpha-b-circle:before {
  content: "\e919";
}
.mdi-alpha-b-circle-outline:before {
  content: "\e91a";
}
.mdi-alpha-c:before {
  content: "\e91b";
}
.mdi-alpha-c-box:before {
  content: "\e91c";
}
.mdi-alpha-c-box-outline:before {
  content: "\e91d";
}
.mdi-alpha-c-circle:before {
  content: "\e91e";
}
.mdi-alpha-c-circle-outline:before {
  content: "\e91f";
}
.mdi-alpha-h-circle:before {
  content: "\e920";
}
.mdi-alpha-h-circle-outline:before {
  content: "\e921";
}
.mdi-ambulance:before {
  content: "\e922";
}
.mdi-anchor:before {
  content: "\e923";
}
.mdi-apple-icloud:before {
  content: "\e924";
}
.mdi-apple-keyboard-control:before {
  content: "\e925";
}
.mdi-apple-keyboard-shift:before {
  content: "\e926";
}
.mdi-apps:before {
  content: "\e927";
}
.mdi-apps-box:before {
  content: "\e928";
}
.mdi-arrow-all:before {
  content: "\e929";
}
.mdi-arrow-bottom-left:before {
  content: "\e92a";
}
.mdi-arrow-bottom-left-bold-outline:before {
  content: "\e92b";
}
.mdi-arrow-bottom-left-thick:before {
  content: "\e92c";
}
.mdi-arrow-bottom-left-thin-circle-outline:before {
  content: "\e92d";
}
.mdi-arrow-collapse-left:before {
  content: "\e92e";
}
.mdi-arrow-decision-outline:before {
  content: "\e92f";
}
.mdi-arrow-down:before {
  content: "\e930";
}
.mdi-arrow-down-bold:before {
  content: "\e931";
}
.mdi-arrow-down-bold-box:before {
  content: "\e932";
}
.mdi-arrow-down-bold-box-outline:before {
  content: "\e933";
}
.mdi-arrow-down-bold-circle:before {
  content: "\e934";
}
.mdi-arrow-down-bold-circle-outline:before {
  content: "\e935";
}
.mdi-arrow-down-bold-hexagon-outline:before {
  content: "\e936";
}
.mdi-arrow-down-bold-outline:before {
  content: "\e937";
}
.mdi-arrow-down-box:before {
  content: "\e938";
}
.mdi-arrow-down-circle:before {
  content: "\e939";
}
.mdi-arrow-down-circle-outline:before {
  content: "\e93a";
}
.mdi-arrow-down-drop-circle:before {
  content: "\e93b";
}
.mdi-arrow-down-drop-circle-outline:before {
  content: "\e93c";
}
.mdi-arrow-left-right:before {
  content: "\e93d";
}
.mdi-assistant:before {
  content: "\e93e";
}
.mdi-asterisk:before {
  content: "\e93f";
}
.mdi-axe:before {
  content: "\e940";
}
.mdi-baby-carriage:before {
  content: "\e941";
}
.mdi-baby-face-outline:before {
  content: "\e942";
}
.mdi-bandcamp:before {
  content: "\e943";
}
.mdi-bank:before {
  content: "\e944";
}
.mdi-bank-outline:before {
  content: "\e945";
}
.mdi-barley:before {
  content: "\e946";
}
.mdi-barrel:before {
  content: "\e947";
}
.mdi-basket1:before {
  content: "\e948";
}
.mdi-basket:before {
  content: "\e949";
}
.mdi-basketball:before {
  content: "\e94a";
}
.mdi-basket-outline:before {
  content: "\e94b";
}
.mdi-bed:before {
  content: "\e94c";
}
.mdi-bed-outline:before {
  content: "\e94d";
}
.mdi-bee:before {
  content: "\e94e";
}
.mdi-beehive-outline:before {
  content: "\e94f";
}
.mdi-beer:before {
  content: "\e950";
}
.mdi-beer-outline:before {
  content: "\e951";
}
.mdi-bell:before {
  content: "\e952";
}
.mdi-bell-outline:before {
  content: "\e953";
}
.mdi-bell-ring:before {
  content: "\e954";
}
.mdi-bell-ring-outline:before {
  content: "\e955";
}
.mdi-biathlon:before {
  content: "\e956";
}
.mdi-bicycle:before {
  content: "\e957";
}
.mdi-bike:before {
  content: "\e958";
}
.mdi-bike-fast:before {
  content: "\e959";
}
.mdi-billboard:before {
  content: "\e95a";
}
.mdi-bird:before {
  content: "\e95b";
}
.mdi-block-helper:before {
  content: "\e95c";
}
.mdi-blood-bag:before {
  content: "\e95d";
}
.mdi-bomb:before {
  content: "\e95e";
}
.mdi-bone:before {
  content: "\e95f";
}
.mdi-boomerang:before {
  content: "\e960";
}
.mdi-border-all:before {
  content: "\e961";
}
.mdi-border-all-variant:before {
  content: "\e962";
}
.mdi-bottle-wine:before {
  content: "\e963";
}
.mdi-bottle-wine-outline:before {
  content: "\e964";
}
.mdi-bowl-mix:before {
  content: "\e965";
}
.mdi-bowl-mix-outline:before {
  content: "\e966";
}
.mdi-briefcase:before {
  content: "\e967";
}
.mdi-briefcase-outline:before {
  content: "\e968";
}
.mdi-briefcase-variant-outline:before {
  content: "\e969";
}
.mdi-brightness-1:before {
  content: "\e96a";
}
.mdi-brightness-2:before {
  content: "\e96b";
}
.mdi-brightness-3:before {
  content: "\e96c";
}
.mdi-brightness-4:before {
  content: "\e96d";
}
.mdi-brightness-5:before {
  content: "\e96e";
}
.mdi-brightness-6:before {
  content: "\e96f";
}
.mdi-brightness-7:before {
  content: "\e970";
}
.mdi-brightness-auto:before {
  content: "\e971";
}
.mdi-broom:before {
  content: "\e972";
}
.mdi-brush:before {
  content: "\e973";
}
.mdi-bucket:before {
  content: "\e974";
}
.mdi-bucket-outline:before {
  content: "\e975";
}
.mdi-bug:before {
  content: "\e976";
}
.mdi-bugle:before {
  content: "\e977";
}
.mdi-bug-outline:before {
  content: "\e978";
}
.mdi-bulldozer:before {
  content: "\e979";
}
.mdi-bullet:before {
  content: "\e97a";
}
.mdi-bullhorn:before {
  content: "\e97b";
}
.mdi-bullhorn-outline:before {
  content: "\e97c";
}
.mdi-bullseye:before {
  content: "\e97d";
}
.mdi-bus:before {
  content: "\e97e";
}
.mdi-bus-multiple:before {
  content: "\e97f";
}
.mdi-bus-school:before {
  content: "\e980";
}
.mdi-bus-side:before {
  content: "\e981";
}
.mdi-bus-stop:before {
  content: "\e982";
}
.mdi-butterfly:before {
  content: "\e983";
}
.mdi-butterfly-outline:before {
  content: "\e984";
}
.mdi-cached:before {
  content: "\e985";
}
.mdi-cake-variant:before {
  content: "\e986";
}
.mdi-calendar-clock:before {
  content: "\e987";
}
.mdi-camera:before {
  content: "\e988";
}
.mdi-camera-off:before {
  content: "\e989";
}
.mdi-campfire:before {
  content: "\e98a";
}
.mdi-cancel:before {
  content: "\e98b";
}
.mdi-car:before {
  content: "\e98c";
}
.mdi-car-back:before {
  content: "\e98d";
}
.mdi-car-brake-alert:before {
  content: "\e98e";
}
.mdi-cards-heart:before {
  content: "\e98f";
}
.mdi-car-emergency:before {
  content: "\e990";
}
.mdi-car-estate:before {
  content: "\e991";
}
.mdi-car-hatchback:before {
  content: "\e992";
}
.mdi-car-pickup:before {
  content: "\e993";
}
.mdi-car-sports:before {
  content: "\e994";
}
.mdi-cart:before {
  content: "\e995";
}
.mdi-cart-outline:before {
  content: "\e996";
}
.mdi-cash:before {
  content: "\e997";
}
.mdi-castle:before {
  content: "\e998";
}
.mdi-cat:before {
  content: "\e999";
}
.mdi-cctv:before {
  content: "\e99a";
}
.mdi-ceiling-light:before {
  content: "\e99b";
}
.mdi-charity:before {
  content: "\e99c";
}
.mdi-chart-bubble:before {
  content: "\e99d";
}
.mdi-chart-line-variant:before {
  content: "\e99e";
}
.mdi-chat:before {
  content: "\e99f";
}
.mdi-chat-alert:before {
  content: "\e9a0";
}
.mdi-chat-alert-outline:before {
  content: "\e9a1";
}
.mdi-chat-outline:before {
  content: "\e9a2";
}
.mdi-check:before {
  content: "\e9a3";
}
.mdi-checkbox-blank:before {
  content: "\e9a4";
}
.mdi-checkbox-blank-circle:before {
  content: "\e9a5";
}
.mdi-checkbox-blank-circle-outline:before {
  content: "\e9a6";
}
.mdi-checkbox-blank-outline:before {
  content: "\e9a7";
}
.mdi-checkbox-intermediate:before {
  content: "\e9a8";
}
.mdi-checkbox-multiple-blank-circle:before {
  content: "\e9a9";
}
.mdi-checkbox-multiple-blank-circle-outline:before {
  content: "\e9aa";
}
.mdi-check-box-outline:before {
  content: "\e9ab";
}
.mdi-check-circle:before {
  content: "\e9ac";
}
.mdi-check-circle-outline:before {
  content: "\e9ad";
}
.mdi-check-decagram:before {
  content: "\e9ae";
}
.mdi-check-decagram-outline:before {
  content: "\e9af";
}
.mdi-check-outline:before {
  content: "\e9b0";
}
.mdi-chef-hat:before {
  content: "\e9b1";
}
.mdi-chevron-double-up:before {
  content: "\e9b2";
}
.mdi-chevron-down:before {
  content: "\e9b3";
}
.mdi-chevron-down-box:before {
  content: "\e9b4";
}
.mdi-chevron-down-box-outline:before {
  content: "\e9b5";
}
.mdi-chevron-left-circle:before {
  content: "\e9b6";
}
.mdi-chevron-left-circle-outline:before {
  content: "\e9b7";
}
.mdi-chevron-triple-up:before {
  content: "\e9b8";
}
.mdi-circle:before {
  content: "\e9b9";
}
.mdi-circle-medium:before {
  content: "\e9ba";
}
.mdi-circle-outline:before {
  content: "\e9bb";
}
.mdi-circle-slice-8:before {
  content: "\e9bc";
}
.mdi-close-box-outline:before {
  content: "\e9bd";
}
.mdi-close-circle:before {
  content: "\e9be";
}
.mdi-close-circle-outline:before {
  content: "\e9bf";
}
.mdi-close-octagon:before {
  content: "\e9c0";
}
.mdi-close-octagon-outline:before {
  content: "\e9c1";
}
.mdi-close-outline:before {
  content: "\e9c2";
}
.mdi-close-thick:before {
  content: "\e9c3";
}
.mdi-cloud:before {
  content: "\e9c4";
}
.mdi-cloud-outline:before {
  content: "\e9c5";
}
.mdi-code-less-than:before {
  content: "\e9c6";
}
.mdi-coffee:before {
  content: "\e9c7";
}
.mdi-compass:before {
  content: "\e9c8";
}
.mdi-compass-outline:before {
  content: "\e9c9";
}
.mdi-contactless-payment:before {
  content: "\e9ca";
}
.mdi-content-cut:before {
  content: "\e9cb";
}
.mdi-controller-classic:before {
  content: "\e9cc";
}
.mdi-controller-classic-outline:before {
  content: "\e9cd";
}
.mdi-cow:before {
  content: "\e9ce";
}
.mdi-creation:before {
  content: "\e9cf";
}
.mdi-crosshairs:before {
  content: "\e9d0";
}
.mdi-crosshairs-gps:before {
  content: "\e9d1";
}
.mdi-cube:before {
  content: "\e9d2";
}
.mdi-cube-outline:before {
  content: "\e9d3";
}
.mdi-cup:before {
  content: "\e9d4";
}
.mdi-cupcake:before {
  content: "\e9d5";
}
.mdi-cup-outline:before {
  content: "\e9d6";
}
.mdi-cursor-pointer:before {
  content: "\e9d7";
}
.mdi-details:before {
  content: "\e9d8";
}
.mdi-diamond:before {
  content: "\e9d9";
}
.mdi-diamond-outline:before {
  content: "\e9da";
}
.mdi-diamond-stone:before {
  content: "\e9db";
}
.mdi-diving-scuba-tank:before {
  content: "\e9dc";
}
.mdi-dog:before {
  content: "\e9dd";
}
.mdi-dog-side:before {
  content: "\e9de";
}
.mdi-donkey:before {
  content: "\e9df";
}
.mdi-dots-vertical:before {
  content: "\e9e0";
}
.mdi-drag-horizontal-variant:before {
  content: "\e9e1";
}
.mdi-drama-masks:before {
  content: "\e9e2";
}
.mdi-drone:before {
  content: "\e9e3";
}
.mdi-duck:before {
  content: "\e9e4";
}
.mdi-dumbbell:before {
  content: "\e9e5";
}
.mdi-dump-truck:before {
  content: "\e9e6";
}
.mdi-earth:before {
  content: "\e9e7";
}
.mdi-egg:before {
  content: "\e9e8";
}
.mdi-egg-outline:before {
  content: "\e9e9";
}
.mdi-elephant:before {
  content: "\e9ea";
}
.mdi-emoticon-happy:before {
  content: "\e9eb";
}
.mdi-emoticon-happy-outline:before {
  content: "\e9ec";
}
.mdi-emoticon-sad:before {
  content: "\e9ed";
}
.mdi-emoticon-sad-outline:before {
  content: "\e9ee";
}
.mdi-excavator:before {
  content: "\e9ef";
}
.mdi-exit-run:before {
  content: "\e9f0";
}
.mdi-factory:before {
  content: "\e9f1";
}
.mdi-fan:before {
  content: "\e9f2";
}
.mdi-filter:before {
  content: "\e9f3";
}
.mdi-filter-outline:before {
  content: "\e9f4";
}
.mdi-fire:before {
  content: "\e9f5";
}
.mdi-fire-alert:before {
  content: "\e9f6";
}
.mdi-fire-extinguisher:before {
  content: "\e9f7";
}
.mdi-fire-hydrant:before {
  content: "\e9f8";
}
.mdi-firework:before {
  content: "\e9f9";
}
.mdi-fish:before {
  content: "\e9fa";
}
.mdi-flag:before {
  content: "\e9fb";
}
.mdi-flag-outline:before {
  content: "\e9fc";
}
.mdi-flag-variant:before {
  content: "\e9fd";
}
.mdi-flag-variant-outline:before {
  content: "\e9fe";
}
.mdi-flash:before {
  content: "\e9ff";
}
.mdi-flashlight:before {
  content: "\ea00";
}
.mdi-flash-outline:before {
  content: "\ea01";
}
.mdi-flask-empty:before {
  content: "\ea02";
}
.mdi-flask-empty-outline:before {
  content: "\ea03";
}
.mdi-flower:before {
  content: "\ea04";
}
.mdi-flower-outline:before {
  content: "\ea05";
}
.mdi-flower-poppy:before {
  content: "\ea06";
}
.mdi-flower-tulip:before {
  content: "\ea07";
}
.mdi-flower-tulip-outline:before {
  content: "\ea08";
}
.mdi-food-apple:before {
  content: "\ea09";
}
.mdi-food-apple-outline:before {
  content: "\ea0a";
}
.mdi-food-drumstick:before {
  content: "\ea0b";
}
.mdi-food-drumstick-outline:before {
  content: "\ea0c";
}
.mdi-forklift:before {
  content: "\ea0d";
}
.mdi-format-paragraph:before {
  content: "\ea0e";
}
.mdi-fruit-cherries:before {
  content: "\ea0f";
}
.mdi-fruit-citrus:before {
  content: "\ea10";
}
.mdi-fruit-grapes-outline:before {
  content: "\ea11";
}
.mdi-fruit-pineapple:before {
  content: "\ea12";
}
.mdi-fruit-watermelon:before {
  content: "\ea13";
}
.mdi-fuel:before {
  content: "\ea14";
}
.mdi-gas-cylinder:before {
  content: "\ea15";
}
.mdi-gavel:before {
  content: "\ea16";
}
.mdi-gesture-double-tap:before {
  content: "\ea17";
}
.mdi-gesture-tap-hold:before {
  content: "\ea18";
}
.mdi-gift:before {
  content: "\ea19";
}
.mdi-gondola:before {
  content: "\ea1a";
}
.mdi-google-street-view:before {
  content: "\ea1b";
}
.mdi-hail:before {
  content: "\ea1c";
}
.mdi-hammer-wrench:before {
  content: "\ea1d";
}
.mdi-hand:before {
  content: "\ea1e";
}
.mdi-handcuffs:before {
  content: "\ea1f";
}
.mdi-hand-left:before {
  content: "\ea20";
}
.mdi-hand-peace:before {
  content: "\ea21";
}
.mdi-hand-peace-variant:before {
  content: "\ea22";
}
.mdi-hand-pointing-up:before {
  content: "\ea23";
}
.mdi-hand-right:before {
  content: "\ea24";
}
.mdi-handshake-outline:before {
  content: "\ea25";
}
.mdi-heart:before {
  content: "\ea26";
}
.mdi-helicopter:before {
  content: "\ea27";
}
.mdi-help:before {
  content: "\ea28";
}
.mdi-hexagon:before {
  content: "\ea29";
}
.mdi-hexagon-outline:before {
  content: "\ea2a";
}
.mdi-hexagram:before {
  content: "\ea2b";
}
.mdi-hexagram-outline:before {
  content: "\ea2c";
}
.mdi-hiking:before {
  content: "\ea2d";
}
.mdi-home:before {
  content: "\ea2e";
}
.mdi-home-city:before {
  content: "\ea2f";
}
.mdi-home-city-outline:before {
  content: "\ea30";
}
.mdi-home-group:before {
  content: "\ea31";
}
.mdi-hook:before {
  content: "\ea32";
}
.mdi-horse:before {
  content: "\ea33";
}
.mdi-horse-human:before {
  content: "\ea34";
}
.mdi-horse-variant:before {
  content: "\ea35";
}
.mdi-hospital:before {
  content: "\ea36";
}
.mdi-human-cane:before {
  content: "\ea37";
}
.mdi-human-child:before {
  content: "\ea38";
}
.mdi-human-female:before {
  content: "\ea39";
}
.mdi-human-female-girl:before {
  content: "\ea3a";
}
.mdi-human-greeting:before {
  content: "\ea3b";
}
.mdi-human-handsdown:before {
  content: "\ea3c";
}
.mdi-human-handsup:before {
  content: "\ea3d";
}
.mdi-human-male:before {
  content: "\ea3e";
}
.mdi-human-pregnant:before {
  content: "\ea3f";
}
.mdi-ice-cream:before {
  content: "\ea40";
}
.mdi-information:before {
  content: "\ea41";
}
.mdi-information-outline:before {
  content: "\ea42";
}
.mdi-island:before {
  content: "\ea43";
}
.mdi-iv-bag:before {
  content: "\ea44";
}
.mdi-jeepney:before {
  content: "\ea45";
}
.mdi-kabaddi:before {
  content: "\ea46";
}
.mdi-kangaroo:before {
  content: "\ea47";
}
.mdi-karate:before {
  content: "\ea48";
}
.mdi-kayaking:before {
  content: "\ea49";
}
.mdi-kettle-steam-outline:before {
  content: "\ea4a";
}
.mdi-key:before {
  content: "\ea4b";
}
.mdi-key-chain-variant:before {
  content: "\ea4c";
}
.mdi-key-outline:before {
  content: "\ea4d";
}
.mdi-knife:before {
  content: "\ea4e";
}
.mdi-knife-military:before {
  content: "\ea4f";
}
.mdi-label-variant:before {
  content: "\ea50";
}
.mdi-label-variant-outline:before {
  content: "\ea51";
}
.mdi-ladybug:before {
  content: "\ea52";
}
.mdi-language-swift:before {
  content: "\ea53";
}
.mdi-leaf:before {
  content: "\ea54";
}
.mdi-leaf-maple:before {
  content: "\ea55";
}
.mdi-lifebuoy:before {
  content: "\ea56";
}
.mdi-lightbulb-on:before {
  content: "\ea57";
}
.mdi-lightbulb-on-outline:before {
  content: "\ea58";
}
.mdi-map-marker:before {
  content: "\ea59";
}
.mdi-map-marker-circle:before {
  content: "\ea5a";
}
.mdi-map-marker-outline:before {
  content: "\ea5b";
}
.mdi-map-marker-radius:before {
  content: "\ea5c";
}
.mdi-map-marker-radius-outline:before {
  content: "\ea5d";
}
.mdi-map-marker-star:before {
  content: "\ea5e";
}
.mdi-map-marker-star-outline:before {
  content: "\ea5f";
}
.mdi-marker-check:before {
  content: "\ea60";
}
.mdi-medal:before {
  content: "\ea61";
}
.mdi-minus:before {
  content: "\ea62";
}
.mdi-minus-thick:before {
  content: "\ea63";
}
.mdi-motorbike:before {
  content: "\ea64";
}
.mdi-muffin:before {
  content: "\ea65";
}
.mdi-multiplication:before {
  content: "\ea66";
}
.mdi-mushroom:before {
  content: "\ea67";
}
.mdi-mushroom-outline:before {
  content: "\ea68";
}
.mdi-nature:before {
  content: "\ea69";
}
.mdi-numeric-0:before {
  content: "\ea6a";
}
.mdi-numeric-0-box:before {
  content: "\ea6b";
}
.mdi-numeric-0-circle:before {
  content: "\ea6c";
}
.mdi-numeric-0-circle-outline:before {
  content: "\ea6d";
}
.mdi-numeric-1:before {
  content: "\ea6e";
}
.mdi-numeric-1-box:before {
  content: "\ea6f";
}
.mdi-numeric-1-box-outline:before {
  content: "\ea70";
}
.mdi-numeric-1-circle:before {
  content: "\ea71";
}
.mdi-numeric-1-circle-outline:before {
  content: "\ea72";
}
.mdi-numeric-2:before {
  content: "\ea73";
}
.mdi-numeric-2-box:before {
  content: "\ea74";
}
.mdi-numeric-2-box-outline:before {
  content: "\ea75";
}
.mdi-numeric-2-circle:before {
  content: "\ea76";
}
.mdi-numeric-2-circle-outline:before {
  content: "\ea77";
}
.mdi-numeric-3:before {
  content: "\ea78";
}
.mdi-numeric-3-box:before {
  content: "\ea79";
}
.mdi-numeric-3-box-outline:before {
  content: "\ea7a";
}
.mdi-numeric-3-circle:before {
  content: "\ea7b";
}
.mdi-numeric-3-circle-outline:before {
  content: "\ea7c";
}
.mdi-numeric-4:before {
  content: "\ea7d";
}
.mdi-numeric-4-box:before {
  content: "\ea7e";
}
.mdi-numeric-4-box-outline1:before {
  content: "\ea7f";
}
.mdi-numeric-4-box-outline:before {
  content: "\ea80";
}
.mdi-numeric-4-circle:before {
  content: "\ea81";
}
.mdi-numeric-4-circle-outline:before {
  content: "\ea82";
}
.mdi-numeric-5:before {
  content: "\ea83";
}
.mdi-numeric-5-box:before {
  content: "\ea84";
}
.mdi-numeric-5-box-outline:before {
  content: "\ea85";
}
.mdi-numeric-5-circle:before {
  content: "\ea86";
}
.mdi-numeric-5-circle-outline:before {
  content: "\ea87";
}
.mdi-numeric-6:before {
  content: "\ea88";
}
.mdi-numeric-6-box:before {
  content: "\ea89";
}
.mdi-numeric-6-box-outline:before {
  content: "\ea8a";
}
.mdi-numeric-6-circle:before {
  content: "\ea8b";
}
.mdi-numeric-6-circle-outline:before {
  content: "\ea8c";
}
.mdi-numeric-7:before {
  content: "\ea8d";
}
.mdi-numeric-7-box:before {
  content: "\ea8e";
}
.mdi-numeric-7-box-outline:before {
  content: "\ea8f";
}
.mdi-numeric-7-circle:before {
  content: "\ea90";
}
.mdi-numeric-7-circle-outline:before {
  content: "\ea91";
}
.mdi-numeric-8:before {
  content: "\ea92";
}
.mdi-numeric-8-box:before {
  content: "\ea93";
}
.mdi-numeric-8-box-outline:before {
  content: "\ea94";
}
.mdi-numeric-8-circle:before {
  content: "\ea95";
}
.mdi-numeric-8-circle-outline:before {
  content: "\ea96";
}
.mdi-numeric-9:before {
  content: "\ea97";
}
.mdi-numeric-9-box:before {
  content: "\ea98";
}
.mdi-numeric-9-box-outline:before {
  content: "\ea99";
}
.mdi-numeric-9-circle:before {
  content: "\ea9a";
}
.mdi-numeric-9-circle-outline:before {
  content: "\ea9b";
}
.mdi-numeric-10:before {
  content: "\ea9c";
}
.mdi-numeric-10-box:before {
  content: "\ea9d";
}
.mdi-numeric-10-circle:before {
  content: "\ea9e";
}
.mdi-numeric-10-circle-outline:before {
  content: "\ea9f";
}
.mdi-octagon:before {
  content: "\eaa0";
}
.mdi-octagon-outline:before {
  content: "\eaa1";
}
.mdi-octagram:before {
  content: "\eaa2";
}
.mdi-octagram-outline:before {
  content: "\eaa3";
}
.mdi-owl:before {
  content: "\eaa4";
}
.mdi-palm-tree:before {
  content: "\eaa5";
}
.mdi-panda:before {
  content: "\eaa6";
}
.mdi-pan-up:before {
  content: "\eaa7";
}
.mdi-paperclip:before {
  content: "\eaa8";
}
.mdi-parachute:before {
  content: "\eaa9";
}
.mdi-parachute-outline:before {
  content: "\eaaa";
}
.mdi-paragliding:before {
  content: "\eaab";
}
.mdi-paw:before {
  content: "\eaac";
}
.mdi-paw-outline:before {
  content: "\eaad";
}
.mdi-penguin:before {
  content: "\eaae";
}
.mdi-pickaxe:before {
  content: "\eaaf";
}
.mdi-pier:before {
  content: "\eab0";
}
.mdi-pier-crane:before {
  content: "\eab1";
}
.mdi-pine-tree:before {
  content: "\eab2";
}
.mdi-pinwheel:before {
  content: "\eab3";
}
.mdi-pinwheel-outline:before {
  content: "\eab4";
}
.mdi-pistol:before {
  content: "\eab5";
}
.mdi-radiobox-blank:before {
  content: "\eab6";
}
.mdi-radiobox-marked:before {
  content: "\eab7";
}
.mdi-record:before {
  content: "\eab8";
}
.mdi-record-circle:before {
  content: "\eab9";
}
.mdi-record-circle-outline:before {
  content: "\eaba";
}
.mdi-road:before {
  content: "\eabb";
}
.mdi-road-variant:before {
  content: "\eabc";
}
.mdi-rocket:before {
  content: "\eabd";
}
.mdi-rocket-launch:before {
  content: "\eabe";
}
.mdi-rocket-launch-outline:before {
  content: "\eabf";
}
.mdi-rocket-outline:before {
  content: "\eac0";
}
.mdi-rowing:before {
  content: "\eac1";
}
.mdi-run:before {
  content: "\eac2";
}
.mdi-run-fast:before {
  content: "\eac3";
}
.mdi-satellite-uplink:before {
  content: "\eac4";
}
.mdi-satellite-variant:before {
  content: "\eac5";
}
.mdi-scale-balance:before {
  content: "\eac6";
}
.mdi-shark-fin:before {
  content: "\eac7";
}
.mdi-shark-fin-outline:before {
  content: "\eac8";
}
.mdi-sheep:before {
  content: "\eac9";
}
.mdi-ship-wheel:before {
  content: "\eaca";
}
.mdi-shoe-formal:before {
  content: "\eacb";
}
.mdi-shoe-heel:before {
  content: "\eacc";
}
.mdi-shoe-sneaker:before {
  content: "\eacd";
}
.mdi-sign-caution:before {
  content: "\eace";
}
.mdi-sign-direction:before {
  content: "\eacf";
}
.mdi-ski:before {
  content: "\ead0";
}
.mdi-ski-cross-country:before {
  content: "\ead1";
}
.mdi-skull:before {
  content: "\ead2";
}
.mdi-skull-outline:before {
  content: "\ead3";
}
.mdi-smoking-off:before {
  content: "\ead4";
}
.mdi-snail:before {
  content: "\ead5";
}
.mdi-snake:before {
  content: "\ead6";
}
.mdi-snowboard:before {
  content: "\ead7";
}
.mdi-snowflake:before {
  content: "\ead8";
}
.mdi-soccer:before {
  content: "\ead9";
}
.mdi-sofa:before {
  content: "\eada";
}
.mdi-sofa-single:before {
  content: "\eadb";
}
.mdi-sofa-single-outline:before {
  content: "\eadc";
}
.mdi-sprout:before {
  content: "\eadd";
}
.mdi-sprout-outline:before {
  content: "\eade";
}
.mdi-square-rounded:before {
  content: "\eadf";
}
.mdi-square-rounded-outline:before {
  content: "\eae0";
}
.mdi-star:before {
  content: "\eae1";
}
.mdi-star-box:before {
  content: "\eae2";
}
.mdi-star-box-outline:before {
  content: "\eae3";
}
.mdi-star-circle:before {
  content: "\eae4";
}
.mdi-star-circle-outline:before {
  content: "\eae5";
}
.mdi-star-four-points:before {
  content: "\eae6";
}
.mdi-star-four-points-outline:before {
  content: "\eae7";
}
.mdi-star-outline:before {
  content: "\eae8";
}
.mdi-storefront:before {
  content: "\eae9";
}
.mdi-storefront-outline:before {
  content: "\eaea";
}
.mdi-submarine:before {
  content: "\eaeb";
}
.mdi-subway-variant:before {
  content: "\eaec";
}
.mdi-summit:before {
  content: "\eaed";
}
.mdi-swim:before {
  content: "\eaee";
}
.mdi-sword:before {
  content: "\eaef";
}
.mdi-sword-cross:before {
  content: "\eaf0";
}
.mdi-tank:before {
  content: "\eaf1";
}
.mdi-tanker-truck:before {
  content: "\eaf2";
}
.mdi-telescope:before {
  content: "\eaf3";
}
.mdi-tennis:before {
  content: "\eaf4";
}
.mdi-tennis-ball:before {
  content: "\eaf5";
}
.mdi-terrain:before {
  content: "\eaf6";
}
.mdi-test-tube:before {
  content: "\eaf7";
}
.mdi-test-tube-empty:before {
  content: "\eaf8";
}
.mdi-torch:before {
  content: "\eaf9";
}
.mdi-tortoise:before {
  content: "\eafa";
}
.mdi-tower-beach:before {
  content: "\eafb";
}
.mdi-tower-fire:before {
  content: "\eafc";
}
.mdi-tow-truck:before {
  content: "\eafd";
}
.mdi-tractor:before {
  content: "\eafe";
}
.mdi-tractor-variant:before {
  content: "\eaff";
}
.mdi-traffic-cone:before {
  content: "\eb00";
}
.mdi-traffic-light:before {
  content: "\eb01";
}
.mdi-train-car-passenger:before {
  content: "\eb02";
}
.mdi-transmission-tower:before {
  content: "\eb03";
}
.mdi-treasure-chest:before {
  content: "\eb04";
}
.mdi-tree:before {
  content: "\eb05";
}
.mdi-tree-outline:before {
  content: "\eb06";
}
.mdi-triangle:before {
  content: "\eb07";
}
.mdi-triangle-outline:before {
  content: "\eb08";
}
.mdi-truck:before {
  content: "\eb09";
}
.mdi-truck-outline:before {
  content: "\eb0a";
}
.mdi-trumpet:before {
  content: "\eb0b";
}
.mdi-tshirt-crew:before {
  content: "\eb0c";
}
.mdi-tshirt-crew-outline:before {
  content: "\eb0d";
}
.mdi-umbrella:before {
  content: "\eb0e";
}
.mdi-umbrella-outline:before {
  content: "\eb0f";
}
.mdi-van-utility:before {
  content: "\eb10";
}
.mdi-virus:before {
  content: "\eb11";
}
.mdi-virus-outline:before {
  content: "\eb12";
}
.mdi-volleyball:before {
  content: "\eb13";
}
.mdi-walk:before {
  content: "\eb14";
}
.mdi-water:before {
  content: "\eb15";
}
.mdi-water-outline:before {
  content: "\eb16";
}
.mdi-water-polo:before {
  content: "\eb17";
}
.mdi-waves:before {
  content: "\eb18";
}
.mdi-weather-cloudy:before {
  content: "\eb19";
}
.mdi-weather-cloudy-alert:before {
  content: "\eb1a";
}
.mdi-weather-cloudy-arrow-right:before {
  content: "\eb1b";
}
.mdi-weather-fog:before {
  content: "\eb1c";
}
.mdi-weather-hail:before {
  content: "\eb1d";
}
.mdi-weather-hazy:before {
  content: "\eb1e";
}
.mdi-weather-hurricane:before {
  content: "\eb1f";
}
.mdi-weather-lightning:before {
  content: "\eb20";
}
.mdi-weather-lightning-rainy:before {
  content: "\eb21";
}
.mdi-weather-partly-cloudy:before {
  content: "\eb22";
}
.mdi-weather-partly-lightning:before {
  content: "\eb23";
}
.mdi-weather-partly-rainy:before {
  content: "\eb24";
}
.mdi-weather-partly-snowy:before {
  content: "\eb25";
}
.mdi-weather-partly-snowy-rainy:before {
  content: "\eb26";
}
.mdi-weather-pouring:before {
  content: "\eb27";
}
.mdi-weather-rainy:before {
  content: "\eb28";
}
.mdi-weather-snowy:before {
  content: "\eb29";
}
.mdi-weather-snowy-heavy:before {
  content: "\eb2a";
}
.mdi-weather-snowy-rainy:before {
  content: "\eb2b";
}
.mdi-weather-sunny:before {
  content: "\eb2c";
}
.mdi-weather-sunny-alert:before {
  content: "\eb2d";
}
.mdi-weather-sunset:before {
  content: "\eb2e";
}
.mdi-weather-sunset-down:before {
  content: "\eb2f";
}
.mdi-weather-sunset-up:before {
  content: "\eb30";
}
.mdi-weather-tornado:before {
  content: "\eb31";
}
.mdi-weather-windy:before {
  content: "\eb32";
}
.mdi-weather-windy-variant:before {
  content: "\eb33";
}
.mdi-web:before {
  content: "\eb34";
}
.mdi-weight-lifter:before {
  content: "\eb35";
}
.mdi-wheel-barrow:before {
  content: "\eb36";
}
.mdi-wheelchair-accessibility:before {
  content: "\eb37";
}
.mdi-white-balance-incandescent:before {
  content: "\eb38";
}
.mdi-windsock:before {
  content: "\eb39";
}
.mdi-wind-turbine:before {
  content: "\eb3a";
}
.mdi-wrench:before {
  content: "\eb3b";
}
.mdi-wrench-outline:before {
  content: "\eb3c";
}
