.icons_box_wrapper
    i
        font-size: 19px;
.icons_box
    height 0px
    padding: 5px 
    border-radius: 5px
    overflow hidden
    transition: all 0.5s ease-in-out;
    clip-path: circle(0% at 100% 3%)
    input 
        background: transparent;
        border: none;
        padding: 5px 20px 5px 5px;
        border-bottom: 1px solid gray;
        margin-right: -20px;
        text-align: left;
        direction: ltr
    ul
        max-height: 200px;
        overflow-y: auto;
        padding: 5px
        direction: ltr;
        i
            margin: 5px
            width: 26px
            height 26px
            font-size: 26px
.show 
	height 300px
	clip-path circle(90%)

.flip-list-move 
    transition: transform 1s;
