// quill editor
.ql-snow
    border none !important
    font-family: 'iranSans'
    padding: 0px
.ql-container>.ql-editor
    direction: rtl
    text-align: right
    font-family: 'iranSans'
    color: #0b0b0b
    font-size: 15px
    min-height: 100px
    max-height: 250px
    padding: 5px 2px;
    line-height: 2
.ql-editor.ql-blank::before
    right 4px !important
.ql-toolbar
    text-align: center 
.ql-formats
    margin-right: 0px !important
    margin-left: 5px 
.ql-picker-label
    text-align: left