@import 'libs/helpers'
// @import 'libs/datePicker'
@import 'libs/sidebarNavigation'

$boxShadow = 0px 1px 4px #ffffffd6

// nprogress
#nprogress
    .spinner
        display none
    .bar
        background #22dda9

// Toasted
.toasted
    direction: rtl
    justify-content: unset !important
    line-height: 1.6em !important;
    i 
        font-size: 27px
        margin-left: 0.5rem !important;
        margin-right: -0.4rem !important;
    .action 
        margin: 5px auto 5px 7px !important
        color: white !important
        border: 1px white solid
        border-radius: 5px !important
        padding: 5px 9px !important;
        letter-spacing: 0 !important;


.v-select 
    .vs__dropdown-menu
        border-radius: 4px;
        margin-top: 7px;
        border-top-style: solid;
// navigator i think
// .vs--single.vs--open .vs__selected 
//     position: relative !important

// *  Map
.map 
    font-family: 'iranSans'
    height: 100vh !important;
    color #8d96ac
    // width: 67% !important;
    position: relative;
    overflow: hidden;
    margin-right: auto;
    outline: none;
    // border: red dashed 1px;
    direction: ltr;
    .layerPicker
        position relative
        background: white
        padding: 5px 10px
        box-shadow 0px 1px 4px rgba(255, 255, 255 , 84%);
        border-radius: 4px
        .bugFix
            width: 100%
            position absolute
            height: 100%
            transition: .5s
            top: 0
            left: 0
        .radiobox
            display: none
        i
            font-size: 20px
        &.showTileProviders
            .radiobox
                display: flex
            .bugFix
                height: 0%

            i
                display none
        label , input
            cursor pointer
        label 
            width: 100%;
            padding-right: 5px; 
    
    .leaflet-bar 
        box-shadow: $boxShadow
        border unset !important
        a 
            cursor pointer
    .leaflet-marker-pane
        position relative
    .leafletDefaultIcon
        width: 21px
        height 31px
        position absolute
    .customIconWrapper
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    .leaflet-marker-draggable
        &:hover
            cursor move
        span
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:before
                position: absolute;
                background: #d3d3d3;
                margin-left: -20px;
                margin-top: -20px;
                width: 40px;
                height: 40px;
                content: "";
                display: block;
                border-radius: 50% !important;
                -webkit-backface-visibility: hidden;
                animation: wave-animate 3s infinite ease-out;
            &:after 
                position: absolute;
                background: white;
                margin-left: -20px;
                margin-top: -20px;
                width: 40px;
                height: 40px;
                content: "";
                display: block;
                border-radius: 50% !important;
                -webkit-backface-visibility: hidden;
                opacity: 0;
                animation: wave-animate 3s 1.5s infinite ease-out;
@keyframes wave-animate {
    0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
    }
    100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center;
    }
}
@keyframes color-loop {
    0% {
    background: #2CAB5B;
    }
    25% {
    background: #FABC03;
    }
    50% {
    background: #ED4B40;
    }
    75% {
    background: #4286F3;
    }
    100% {
    background: #2CAB5B;
    }
}
.leaflet-control-layers
    transition: .3s
.leaflet-control-layers-base
    direction: rtl;
    
.leaflet-control.mapmaker
    a
        cursor pointer
        font-size: 140%
        background-color: #fff
        border-bottom: 1px solid #ccc
        width: 26px
        height: 26px
        line-height: 30px
        display: block
        text-align: center
        text-decoration: none
        color: #676767
        border-radius: 4px
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.65)
        color black
        &:hover
            background-color: #e8e8e8
    a.deactiveAddMarker
        background-color: #e8e8e8
        cursor default

.leaflet-tooltip
    direction: rtl
    white-space: normal !important
    opacity 1 !important
    background-color: #ffffffe6 
    padding: 3px !important
    box-shadow: $boxShadow !important;
    p
        margin: 0px
        min-width 110px
        max-width 350px
        overflow hidden
    img
        border-radius: 4px
        display block
        max-width: 300px
        max-height: 400px
        margin: 6px auto 0px;

.polyline-measure-popupTooltip
    white-space: nowrap !important;
    font-family: iranSans
    line-height: 20px
.polyline-measure-tooltip
    font-family: iranSans
    background-color: white
    box-shadow: $boxShadow;
.textBoxTool_inMap
    direction: rtl
    border-radius: 5px
    padding: 5px
    box-shadow: #cecece -1px 1px 3px 0px;
    box-sizing: border-box
    overflow auto
    p
        margin: 0px

.leaflet-control-attribution
    box-shadow: $boxShadow;
    font-size: 0px !important
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.85) !important;
    margin: 0 2px 2px 0 !important;
    a:first-child 
        display none
    .attr
        font-size: 12px
        color: #565656
        padding: 2px 5px 0px;

.leaflet-div-icon
    background: transparent
    border none

.leaflet-control-geosearch
    input
        direction: rtl
        padding-right: 2px;
    form 
        max-width: 40vw;
        box-shadow: $boxShadow
        right: 20px !important
    .results
        direction: rtl
    a
        border-radius: 4px !important;
        &.reset
            display: none
            // right unset 
            // left 0px
            // color: #959595;
            // line-height: 29px;
            // font-size: 15px
            // &:hover
            //     color: red
        &.leaflet-bar-part:after
            top: 5px;
            left: 5px;
            height: 14px;
            width: 14px;
            background: white;
        &.leaflet-bar-part:before 
            top: 17px;
            left: 13px;
            width: 10px;




@keyframes tada {
    40% {
    transform: scale3d(1, 1, 1);
    }

    42.77% {
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
    }

    45.54%,
    51.08%,
    56.62%,
    62.16% {
    transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 3deg);
    }

    48.31%,
    53.85%,
    59.39% {
    transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, -3deg);
    }

    65% {
    transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
    transform-origin: center bottom;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 950px) 
    .map
        max-height: 80vh
        .leaflet-control-geosearch 
            form
                max-width: 63vw;
                height: 30px
        #polyline-measure-control, #unitControlId
            display: none
    
    .toasted-container 
        min-width: 80%;
        .toasted
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;