@import 'libs/helpers'
@import 'libs/colorPicker'
@import 'libs/datePicker'
@import 'libs/iconPicker'
@import 'libs/gooeyMenu'
@import 'newPoint'



// nprogress
#nprogress
    .spinner
        display none
    .bar
        background #22dda9

// Toasted
.toasted
    direction: rtl
    justify-content: unset !important
    i
        font-size: 27px
        margin-left: 0.5rem !important;
        margin-right: -0.4rem !important;

//  Text box tool
.bubble 
    overflow hidden
    border-radius: 10px
    text-align: right
    padding: 8px
    position relative
    z-index 2
    font-family: iranSans
    box-shadow: #747474 0 0 17px -6px;
// .pointer 
//     height: 30px
//     width: 30px
//     background: ivory
//     margin: 0 auto
//     transform: rotate(45deg)
//     border-radius: 0 0 5px 0
//     margin-top: -20px
//     position: relative
//     z-index 1
//     left 50px




.changeButoon
    height: 30px
    margin: auto 10px
// navigator i think
.vs--single.vs--open .vs__selected 
    position: relative !important

//  map
.leaflet-control.mapmaker
    a
        cursor pointer
        font-size: 140%
        background-color: #fff
        border-bottom: 1px solid #ccc
        width: 26px
        height: 26px
        line-height: 30px
        display: block
        text-align: center
        text-decoration: none
        color: #676767
        border-radius: 4px
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.65)
        color black
        &:hover
            background-color: #e8e8e8
    a.deactiveAddMarker
        background-color: #e8e8e8
        cursor default

.leaflet-tooltip
    font-family: iranSans


// quill editor
.ql-container>.ql-editor
    direction: rtl
    text-align: right
    font-family: 'iranSans'
    color: #0b0b0b
    font-size: 15px
    min-height: 100px
.ql-toolbar
    text-align: center 
.ql-formats
    margin-right: 0px !important
    margin-left: 5px 
.ql-picker-label
    text-align: left

// easy Print for map
.leaflet-control-easyPrint-button-export
    display none !important
.leaflet-control-easyPrint
    width: 26px
    height: 26px
.easyPrintHolder
    display block !important
    margin-top: 0px !important
    margin-bottom: 0px !important 
    margin-left: 0px !important 
    padding-left: 0px !important
    display: none
    .CurrentSize
        border-radius: 4px !important
        background-color: #fff !important
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACY0lEQVRYhe2WO2hUQRSGvzMbDVbZzFxUZEGQbS1EEJFYJKBgISJiQIsoErCxkoiP2PhGBUurEAgRQQg2IqidENEEFAsFsUqhEMzO3VuoMa85FkbYXXc3u2FXEfbv5vAz/3fPnTMMtNRSE9SxYcMW59xFstn2lbymGQCphYVtCldcPj8GrGlGxoqyUXTZOqfWuYdA27+CuGSdUxtFD4BUOc+fZNlsezpJdqZUy7YuhDCbz+dfVMmVdDq92Riz0cDrABOo9jrn5r33x4BQZC5cZDKZdd9nZz8CmaqfprorjuOXBZWUtfagiBxQ2AusL0sGfd770cJaUQe+zc11C2QUronq27LZxvzIez+xvDTW2uMqch7IKswD46g+Bz6pMV8EzqLahciQz+Xule5XBGBCWKuAqI7HcfykWhOiKNoUVEeBHoEpgVPGmJGZmZmvvz3W2tuIdAEjcS53EtCqALXKObcjwGOgQ2DQe38LWCz0LIcPCNz33p+g5N+vGiCKou1B9RmqcwJd3vvJUo+1theRAWDMe99XKRzqvIiW2/5UYB7VnnLhACGESYELsfdHgKVlqNOdUbS/1FtXBwIMAWlV3R3H8ftKviRJpoAbRUWRM6i+Ah4VlmvuQGcUHUV1HyLXS0awVgklY18XgKieAz7HudzVVYRXVE0A1to9wFZU7/Br1v8uAHAIWAohDDcyvHYAkW5gMkmSpNEAtUxBm8KwqL5pdHitAIt57282Ixya9CJqAdSjojOgqtOIgDGD1rn+RgYJpFGdLlMvlnPuroocpsKTbPUE8k5U+733Hxq6b0v/vX4CEzzln2RCfLEAAAAASUVORK5CYII=') !important
        background-size: contain
        border-bottom: 1px solid #ccc !important
        width: 26px !important
        height: 26px !important
        line-height: 26px !important
        display: block !important
        text-align: center !important
        text-decoration: none !important
        color: black !important
