// @import './libs/resetAndHelpers.styl'
@import 'libs/normalize'
*
    // border 1px #ff000070 dashed
//     transition: all 0.5s ease
* , *:focus
    outline: none;
    -webkit-tap-highlight-color: transparent;

*::-webkit-scrollbar {
    width: 7px
	background-color: #F5F5F5
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	border-radius: 10px
	background-color: #F5F5F5
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: #555
}

// IranSans FONT
@font-face 
    font-family: iranSans
    font-style: normal
    font-weight: normal
    src: url('/fonts/eot/IRANSansWeb.eot')
    src: url('/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), 
        url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'), 
        url('/fonts/woff/IRANSansWeb.woff') format('woff'),
        url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');

body 
    font-family: iranSans
    background: #f4f3fb
    color: #8d96ac
a
    text-decoration: none
    color: inherit;

button
    background: transparent
    border none

.navigation-header 
    padding: 20px 0
    margin: 20px auto
    text-align: center
    img
        transition: all .3s ease
        // display blcok
        width: 80%
    .user-name
        transition: all .3s ease
        display block
        opacity 0
        height: 0px;
        margin-top: 6px;
.vsm_expanded
    .navigation-header
        img
            width: 100%;
        .user-name
            opacity 1

.v-sidebar-menu 
    max-width 250px
    z-index 1001
    .vsm--icon
        margin-right: 25px;
    .vsm--item
        .vsm--link
            padding-left: 15px
            font-size: 18px 
            padding: 13px 0 13px 15px;
        .vsm--icon
            color: #8d96ac !important;
            background-color: unset !important;
            font-size: 120%




// panel
.panel
    z-index: 1001;
    // outline: 1px dashed red
    position fixed
    right 0px
    top: 0px
    padding: 20px 20px
    width: 37%
    max-width: 506px;
    height: 100vh;
    background: #f4f3fb;
    header
        display flex
        margin-bottom: 1rem
        position relative
        .fas
            margin-right: 1rem;
    .searchbar
        padding: 0px 10%
        background: white
        border-radius: 5px;
        display flex
        align-items: center;
        .searchInput
            width: 60%
            input 
                width: 92%;
                line-height: 2
                border 0 
                padding: 10px 20px
                width: 180px;
        .v-select 
            width: 40%;
            .vs__clear
                display none
            .vs__dropdown-toggle
                border: 0px
                flex-direction: row-reverse
            .vs__dropdown-menu
                min-width: 130px // equal to v-select width
                border 0px
                top: calc(115% - 1px);
                border-radius: 0px 0px 15px 15px;
            .vs__dropdown-option
                padding: 3px 33px 3px 20px;
            .vs__actions
                padding: 8px 6px 0 6px
            .vs__search 
                padding: 10px 3px 10px 20px;
    .allpoints
        height 90%
        direction: rtl;
    .loading
        display flex
        justify-content: center
        align-items: center
        flex-direction: column
        height 80%
        h1
            font-size: 50px
            margin 0.27em 0
        .lds-ripple 
            margin: 15px
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            div 
                position: absolute;
                border: 4px solid #257eca;
                opacity: 1;
                border-radius: 50%;
                animation: lds-ripple 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
                &:nth-child(2)
                    animation-delay: -0.5s;
                @keyframes lds-ripple {
                    0% {
                        top: 36px;
                        left: 36px;
                        width: 0;
                        height: 0;
                        opacity: 1;
                    }
                    100% {
                        top: 0px;
                        left: 0px;
                        width: 72px;
                        height: 72px;
                        opacity: 0;
                    }
                }
        
    .points
        margin-top: 4px
        overflow: hidden;
        overflow-y: auto;
        height: calc(100vh - 170px) ;
        direction: ltr
        padding-right: 1rem;
        margin-right: -1rem;
    .point
        direction: rtl
        transition: all 0.5s ease
        // cursor pointer
        position relative
        padding: 15px;
        border-radius: 5px;
        background: white
        margin: 1rem ;
        margin-right: 3px;
        header
            .logo
                font-size: 35px
            .editDoc
                margin-right: auto
                background: transparent
                border none
                cursor pointer
            time
                position: absolute;
                right: 14%;
                top: 90%;
                font-size: 90%
            .nameandsituation
                display inline-block
                margin-right: 10px
                a
                    transition: all 0.5s ease
                    display block
                    margin-top: 10px
                    color: #2a8bf2
                    font-size: 85%
                    &:first-child
                        color: black
                        font-size: 100%
        main
            margin-right: 13%;
            line-height: 1.7;
            font-size: 92%;
        &:hover
            background: linear-gradient(to right, #48c6efc2 0%, #6f86d6c4 100%);
            color: white
            .nameandsituation
                a
                    color: #fff
                
        footer 
            direction: ltr;
            ul
                padding: 0;
            li 
                display inline-block
                padding: 6px 15px 9px 15px; 
                border-radius: 99px
                margin: 0px 15px -10px 5px;
                background: #feccd9
                color: #ff3366
                position relative
                font-size: 85%;
                i
                    margin-right: 6px
                    font-size: 122%;
                    position: relative;
                    top: 2px;
                span
                    background: #f36;
                    position: absolute;
                    padding: 5px 7px 3px 7px;
                    border-radius: 999px;
                    color: #fff;
                    font-size: 85%;
                    top: 2px;
                    right: -14px;
            li.video
                background: #bff0c1
                color: #00c305
                span
                    background: #00c305;

@import './components'