.newpoint
    height 90%
    overflow hidden
    overflow-y: auto
    direction: ltr
    header 
        direction: rtl
        margin: 1rem;
    section
        direction: rtl
        padding: 10px 5%;
        background: #fff;
        border-radius: 5px;
        .title
            border: none;
            line-height: 30px;    
            width: 100%;
            border-bottom: 1px solid #bebebe;
            margin-bottom: 10px 
    .tag_date_section
        border-radius: 0 0 5px 5px
        margin-top: -5px
        box-shadow: 0px 10px 9px -9px rgba(0,0,81,0.1);
    section.tools
        background: white;
        margin: 20px 10px;
        border-radius: 6px;
        overflow: hidden;
        overflow-y: auto;
        .tool_header
            display: flex
            .icons_box_wrapper
                margin: 5px
            .tooltip
                border: none 
                border-bottom: 1px gray solid
            .delete_button
                transition: .2s
                margin-right: auto; 
                cursor pointer
                background: transparent
                border none
                &:hover
                    color red



    .ql-snow
        border none !important
        font-family: iranSans
        padding: 0px
    .ql-container
        .ql-editor
            max-height: 250px
            padding: 5px 8px;
    
    .tags
        direction: rtl
        width: 70%;
        display: inline-block;
        .vs__actions
            display none
        .vs__selected
            border-radius: 25px;
            padding: 0 10px;
        .vs__deselect
            margin-left: 0px;
            margin-right: 4px;
        .vs__dropdown-toggle
            border none
    .datepicker
        display: inline-block;
        width: 30%;
        
    .tabs
        span 
            cursor pointer
            margin: 10px 15px