.ReadDoc_wrapper {
    direction: ltr;
    overflow-y: hidden;
    border-radius: 5px;
    
}

.point.readPoint {
    color: #37383a;
    cursor: auto;
    overflow: visible
    padding: 15px 15px 10px
    background: #fff;
    margin: 0px
    
    &:hover {
        transform: none;
    }

    header {
        display: block;
        margin-bottom: 0px;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .title {
            align-items: flex-start
            .btn-back{
                position: unset
                padding: 0px;
                height: unset
            }
        }
    }

    main {
        margin-right: 0px;
        font-size: 100%
    }

    time {
        position: unset;
        letter-spacing: 2px;
    }

    h1 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 15px;
        font-weight: normal;
        margin: 5px;
        display: flex;

        i {
            margin-left: 10px;
            margin-right: 0px;
        }

        span {
            display: block;
            position: relative;
            margin-left: 15px;
            cursor: pointer;

            &:not(:last-child)::after {
                display: block;
                content: '/';
                position: absolute;
                right: 100%;
                top: -2px;
                font-size: 22px;
                color: #a3a3a3;
            }
        }
    }

    footer {
        direction: rtl;
        display: flex;
        align-items: center;

        .share {
            margin-right: auto;

            li {
                background: white;
                padding: 0px
                .btn-back {
                    position: unset;
                    padding: 0;
                    height: unset
                }
            }

            button {
                font-size: 17px;
            }
        }

        .tags {
            li {
                display: inline-block;
                padding: 0 0 0 8px;
                margin: 0px 0px 0px 15px;
                background: #8caebb;
                color: #fff;
                cursor: pointer;
            }

            i {
                margin-left: 5px;
                border-radius: 99px;
                font-size: 20px;
                margin-right: 0px;
                color: #fdfdfd;
                top: 0px;
                padding: 2px;
                line-height: 20px;
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-width: 950px) 
    .readPoint.point
        margin-top: 1rem
        h1
            font-size: 18px
        h4
            font-size: 14px
            i
                margin-left: 5px;
        header
            margin-top: unset